#about_container.grid_8.prefix_1
  %h2 About/FAQ
  %ol
    %li 
      What's all this, then?
      %p TwitToDo is a simple tool that lets you use <a href="http://twitter.com/">Twitter</a> to track your to-do list.  It doesn't do much besides record your items right now, but more is coming in the near future.
    %li
      How do I use it?
      %p Just send a Twitter reply to <strong>@need2</strong>, like this:
      %blockquote @need2 Book plane tickets for RailsConf.
      %p Then, in a few minutes, visit http://twittodo.com/&lt;your-twitter-username&gt; and your to-do item should be listed there.  Easy as that!
    %li
      Can I make my list private? How about individual items?
      %p Nope, not yet, but this is at the top of our feature list. Expect to see this very soon.
    %li
      Can I re-order my list items?
      %p We're working on this, too.  Hopefully soon!
    %li
      Where'd you get the idea for this?
      %p From Twitter, of course!  Specifically, this <a href="http://twitter.com/rands/statuses/799555439">tweet</a> from <a href="http://randsinrepose.com/">@Rands</a>.  We had already been thinking about how useful something like this could be, and the tweet from @Rands pushed us over the edge.
.clear