#profile_container.grid_8.prefix_1.suffix_1
  #my_list_form
    -form_tag my_list_url do
      %label{:for => "id"} Enter Your Twitter Username:
      %br
      %input{:type => "text", :id => "id", :name => "id"}
      %br
      %input{:type => "submit", :value => "Take Me To My List!"}
.clear